spring:
  application:
    name: scw-order
  datasource:   #数据库连接池
    url: jdbc:mysql://192.168.37.166/atcrowdfunding
    username: root
    password: '123456'
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
#redis配置  
  redis:
    host: 192.168.37.166
    port: 6379
mybatis:
  config-location: classpath:/mybatis/mybatis-config.xml
  mapper-locations: classpath:/mybatis/mapper/*.xml
server:
  port: 9000
  
eureka:
  instance:
    ip-address: 127.0.0.1
    prefer-ip-address: true  # 支持注册中心使用ip-address[以后分布式发布时保证注册中心可以管理所有项目]
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    
